<h1 class="text-3xl text-rose-600 font-bold underline">Home#index</h1>
<p class="text-lg">This is a temporary test page.</p>
<p class="text-lg">Destroy it with:</p>
<code class="bg-black px-2 rounded-md">$ rails d controller home</code>
<p class="text-lg">then delete the route in <code>routes.rb</code></p>
